body {
  background-color: #e4e0fd;
}

.App {
  
}

.App header {
  background-color: #0d5287;
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  padding: 20px;
  display: flex;
}

.App header img {
  width: 30px;
  margin-right: 10px;
}

.App aside, .App footer {
  background-color: #fff;
}

.App footer {
  padding: 20px;
}
.App footer ul {
  margin: 0;
  padding: 10px 0;
  list-style: none;
  border-bottom: 1px solid #eee;
}
.App footer ul li {
  color: #7aa0bd;
  display: inline-block;
  margin: 0 10px;
}
.App footer ul li:first-child {
  margin-left: 0;
}
.App footer p {
  margin: 10px 0 10px;
}

.Sidebar {
  width: 350px;
}